.center-text {
    text-align: center;

    color: rgb(166, 0, 255);

    font-weight: bold;

    font-size: 3em;

    text-decoration: underline;
}

.paragraph-style {
    font-style: italic;

    font-family: Arial, Georgia;

    line-height: 2;
}

.box {
    width: 200px;
    height: 100px;

    background-color: rgba(255, 0, 0, 0.5);

    margin: 10px;
    padding: 20px;
    border: 2px solid black;
}