* {
    padding: 0;
    margin: 0;
}


p {
    color: blue;
}

.text {
    font-size: 20px;
}

#unique {
    background-color: yellow;
}

.title,
.text {
    text-align: center;
}

body .common {
    border: 2px solid black;
}

a[target="_blank"] {
    color: red;
}

p::first-letter {
    font-size: 200%;
    color: blue;
}
